<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.best.dao.BookMapper">


   <cache />


    <resultMap id="user_map" type="book" autoMapping="true">
        <id property="id" column="id" javaType="long" jdbcType="NUMERIC"></id>
    </resultMap>

    <select id="getById" resultType="book" parameterType="Long">
        select * from ct_book where id = #{id}
    </select>

    <select id="getByIdAndName" resultType="book" parameterType="map">
        select * from ct_book where id = #{id} and user_Id = #{userId}
    </select>
</mapper>